@font-face {
  font-family: "Norse-Bold";
  src: url(/Norse-Bold.otf) format("opentype");
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.page-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left {
  display: flex;
  height: 100vh;
  width: 30vw;
  justify-content: center;
  background-image: url("./images/background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}

.right {
  border: solid;
  width: 70vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fafafa;
}

.text-container {
  padding: 20px;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  justify-items: flex-end;
  padding-right: 6.25rem;
}

.box-for-text {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.form {
  height: 30vh;
  background-color: white;
}

.button-and-text {
  height: 30vh;
}

#odin-title {
  font-family: Norse-Bold;
  text-transform: uppercase;
  font-size: 56px;
  color: white;
}

.sidebar-image {
  width: 100px;
  height: 100px;
}

.overlay {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-and-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-container {
}
