@font-face {
  font-family: "Norse-Bold";
  src: url(/Norse-Bold.otf);
}

body {
  font-family: sans-serif;
}

.page-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left {
  display: flex;
  width: 40vw;
  justify-content: center;
  background-image: url("./images/background-image.jpg");
}

.right {
  border: solid;
  width: 60vw;
  display: flex;
  justify-content: center;
}

#odin-title {
  font-family: Norse-Bold;
  text-transform: uppercase;
  font-size: 56px;
  margin-top: 20px;
  color: white;
}
